@import "tailwindcss";

@theme {
  --color-blue-800: #003BE2;
  --color-surface: #FAFAFA;
  --color-electric-lime: #C8F62B;
  --text-heading-l: 72px;
  --text-heading-m: 44px;
  --text-heading-s: 36px;
  --text-heading-xs: 20px;
  --text-body-l: 18px;
  --text-body-m: 16px;
  --text-body-s: 14px;
  --text-body-xs: 12px;
  
}